
  * {
    box-sizing: content-box;
  }

  *:focus {
    outline: none;
  }

  html, body {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #1d1d1d;
    color: white;
    left: 0;
    display: block;
  }

  td button {
    margin-right: 5px;
  }

  .form-group input {
    margin-left: 0 !important;
  }

  .add-new-container .form {
    background-color: #1d1d1d;
    width: 600px;
    color: white;
    border-radius: 20px;
    padding: 20px;
  }

  .add-new-container {
    z-index: 1001;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .min {
    min-width: 100px !important;
  }

  .jumbotron {
    margin-top: 200px;
    background-color: #1d1d1d !important;
  }

  .draggable {
    -webkit-app-region: drag;
  }

  .not-draggable {
    -webkit-app-region: no-drag
  }

  .icon-button {
    overflow: hidden;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    transition: 0.15s;
    z-index: 998;
  }

  .logo-top {
    height: 40px;
    overflow: hidden;
  }

  .footer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
    font-weight: lighter;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-heart {
    color: #e74c3c;
    display: inline-block;
    margin: 0 5px;
  }

  .icon-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .right-bar {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .center-bar {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .left-bar {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .top-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #1d1d1d;
    z-index: 992;
  }

  .base {
    position: absolute;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    top: 60px;

  }

  .notice {
    display: block;
    position: fixed;
    top: 70px;
    left: 5%;
    right: 5%;
    z-index: 999;
  }

  .table td, .table th {
    vertical-align: middle !important;
  }

  .centered-jumbo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jumbotron {
    margin-bottom: 0 !important;
  }

  input[type=text] {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 6px;
    margin-left: 20px;
    font-size: 17px;
  }

  .led-box {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .led-red {
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  }

  .led-green {
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  }

  .led-yellow {
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
    -webkit-animation: blinkYellow 1s infinite;
  }

  @-webkit-keyframes blinkYellow {
      from { background-color: #FF0; }
      50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
      to { background-color: #FF0; }
  }

  .loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
